.metadata
bin/
tmp/
.settings/
local.properties
.loadpath
.recommenders/
/target/
*target/
*.tmp
*.bak
*.swp
*~.nib
.project
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.classpath
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans



